@page "/ItemList"
@using Application.ViewModels.ToDo
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Services.IToDoService service
@inject IJSRuntime js;
@rendermode InteractiveServer

<h3>Lista de Items</h3>

@if (items == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="search-box">
                                    <input type="search" autofocus @bind="descFilter" @bind:event="oninput" placeholder="Description..." />
                                </div>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-2">
                                <input type="button" data-toggle="modal" data-target="#itemModal"
                                       class="btn btn-primary" value="Nova Item" @onclick="(() => InitializeItemObject())" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <QuickGrid Items="FilteredItems" Pagination="pagination">
                            <PropertyColumn Property="@(f => f.Nome)" Title="Desc" Sortable="true" >
                                @* <ColumnOptions style="display: none">
                                    <div class="search-box">
                                        <input type="search" autofocus @bind="descFilter" @bind:event="oninput" placeholder="Country name..." />
                                    </div>
                                </ColumnOptions> *@
                            </PropertyColumn>
                            <PropertyColumn Property="@(f => f.Progress)" Title="Status" Sortable="true" />
                            <PropertyColumn Property="@(f => f.Description)" Title="Description" Sortable="false" />
                            <PropertyColumn Property="f => f.ConclusaoEm" Format="dddd, dd MMMM yyyy" Sortable="true" />

                            <TemplateColumn Title="Actions">
                                <Input type="button" class="btn btn-primary" @onclick="(() => PreparaEdicao(context))" data-toggle="modal" data-target="#itemModal" value="Edita" />
                                <input type="button" class="btn btn-danger" @onclick="(() => PreparaExclusao(context))" data-toggle="modal" data-target="#confirmaExclusaoModal" value="Deleta" />
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                    <Paginator State="@pagination" />
                </div>
            </div>
        </div>
    </div>
}

<ConfirmaDialog OnClick="@Delete" />
<ItemDetalhes itemObject=itemObject AlteracaoDados="@AlteracaoDados">
    <Cabecalho>@cabecalho</Cabecalho>
</ItemDetalhes>

@code {
    List<ToDoVM> items;

    ToDoVM itemObject = new ToDoVM();
    string cabecalho = string.Empty;
    string descFilter = string.Empty;
    IQueryable<ToDoVM> FilteredItems
    {
        get
        {
            var result = items.AsQueryable();
            if (!string.IsNullOrEmpty(descFilter))
            {
                result = result.Where(f => f.Nome.Contains(descFilter, StringComparison.CurrentCultureIgnoreCase) 
                || f.Description.Contains(descFilter, StringComparison.CurrentCultureIgnoreCase)
                || f.Progress.Contains(descFilter, StringComparison.CurrentCultureIgnoreCase));
            }
            return result;
        }
    }

    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        items = await service.GetList();
        //await js.InvokeAsync<object>("TestDataTablesAdd", "#table");
    }
    
    private void PreparaEdicao(ToDoVM item)
    {
        cabecalho = "Edita Item";
        itemObject = item;
    }

    private void PreparaExclusao(ToDoVM task)
    {
        itemObject = task;
    }

    private void InitializeItemObject()
    {
        itemObject = new ToDoVM();
        itemObject.ConclusaoEm = DateTime.Now;
        cabecalho = "Nova Item";
    }
    private async void AlteracaoDados()
    {
        Thread.Sleep(2000);
        items = await service.GetList();
        StateHasChanged();
    }

    private async Task Delete()
    {
        //var task = await service.Delete(itemObject.Id);
        await js.InvokeAsync<object>("CloseModal", "confirmaExclusaoModal");
        items = await service.GetList();
        itemObject = new ToDoVM();
    }
    
}

